@font-face {
    font-family: "themeFont";
    src: url("./fonts/ProximaNova-Reg.otf");
}

@font-face {
    font-family: "themeFontItalic";
    src: url("./fonts/Proxima\ Nova\ Regular\ Italic.otf");
}

@font-face {
    font-family: "themeFontLight";
    src: url("./fonts/Proxima\ Nova\ Light.otf");
}

@font-face {
    font-family: "themeFontLightItalic";
    src: url("./fonts/ProximaNova-LightItalic.otf");
}

@font-face {
    font-family: "themeFontItalic";
    src: url("./fonts/Proxima\ Nova\ Bold\ Italic.otf");
}

@font-face {
    font-family: "themeFontSemiboldItalic";
    src: url("./fonts/Proxima\ Nova\ Semibold\ Italic.otf");
}

@font-face {
    font-family: "themeFontSemibold";
    src: url("./fonts/Proxima\ Nova\ Semibold.otf");
}

@font-face {
    font-family: "themeFontBlack";
    src: url("./fonts/ProximaNova-Black.otf");
}

@font-face {
    font-family: "themeFontBlackIt";
    src: url("./fonts/ProximaNova-BlackIt.otf");
}

@font-face {
    font-family: "themeFontBold";
    src: url("./fonts/ProximaNova-Bold.otf");
}

@font-face {
    font-family: "themeFontExtrabldIt";
    src: url("./fonts/ProximaNova-ExtrabldIt.otf");
}

@font-face {
    font-family: "themeFontExtrabold";
    src: url("./fonts/ProximaNova-Extrabold.otf");
}

@font-face {
    font-family: "themeFontLightItalic";
    src: url("./fonts/ProximaNova-LightItalic.otf");
}

@font-face {
    font-family: "themeFontThin";
    src: url("./fonts/ProximaNova-Thin.otf");
}

@font-face {
    font-family: "themeFontThinIt";
    src: url("./fonts/ProximaNova-ThinIt.otf");
}

body {
    background: #f5fbfc;
    font-family: "themeFont";
    font-size: 15px;
}

.navigation {
    display: block;
    float: left;
    height: 45px;
    width: 100%;
    background: #23123a;
    padding-top: 55px;
}

.navigationList {
    display: flex;
    height: 100%;
    background: #fff;
}

.navigationListItem {
    border-left: 1px solid #f5fbfc;
    border-right: 1px solid #f5fbfc;
    width: calc(100% / 3);
    height: 100%;
}

.navigationListItem:first-of-type {
    border-left: 1px solid transparent;
}

.navigationListItem:last-of-type {
    border-right: 1px solid transparent;
}

.navigationListItem a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navigationListItem a span {
    font-size: 16px;
    color: #000;
}

.bannerSection {
    width: 100%;
    position: relative;
    display: flex;
}

.bannerSection h2 {
    font-size: 102px;
    position: absolute;
    top: 55;
    left: 70;
    color: #fff;
}

.bannerSection figure,
.bannerSection figure img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.desktopOnly {
    display: block;
}

.mobileOnly {
    display: none;
}

.contentSection {
    padding: 60px 15px 15px;
    max-width: 1000px;
    width: calc(100% - 30px);
    margin: 0 auto;
}

.contentHeading {
    display: block;
    font-family: "themeFontBold";
    font-size: 30px;
}

.contentCardInfo {
    background: #fff;
    margin-top: 30px;
    padding: 45px 70px;
}

.infoHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoTitle {
    font-size: 20px;
}

.infoTitle sup {
    vertical-align: super;
    font-size: 10px;
}

.reviewStar {
    margin-right: 10px;
    color: #59d8d1;
}

.sectionContent {
    padding-top: 25px;
}

.sectionCardInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sectionCardImage {
    width: 310px;
    margin-right: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sectionCardImageCon {
    width: 150px;
}

.sectionCardImageCon img {
    width: 100%;
}

.sectionCardActionCon {
    margin-left: 20px;
    width: 100px;
    text-align: center;
}

.sectionCardActionCon p {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
}

.buttonTypeOne {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    color: #fff;
    background: #59d8d1;
}

.sectionCardDescription {
    width: 100%;
}

.sectionCardDescList {
    list-style: disc;
}

.sectionCardItem {
    font-size: 18px;
    line-height: 20px;
}

.sectionCardItem a {
    color: #1194f6;
    text-decoration: none;
}

.applyButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    background: #fa6e3d;
    color: #fff;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-top: 25px;
}

.divider {
    margin-top: 35px;
    margin-bottom: 22px;
    border: 1px solid #7f949c;
}

.showDetail a {
    color: #1194f6;
    font-size: 18px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .desktopOnly {
        display: none;
    }
    .mobileOnly {
        display: block;
    }

    .bannerSection h2 {
        font-size: 80px;
        top: 35px;
        left: 30px;
    }

    .contentSection {
        padding: 60px 0 0;
        overflow: hidden;
    }

    .contentHeading {
        font-size: 18px;
        padding: 0 15px;
    }

    .contentCardInfo {
        padding: 20px 15px;
        font-size: 17px;
    }

    .sectionCardInfo {
        flex-direction: column;
    }

    .sectionCardImage {
        margin-bottom: 25px;
    }

    .sectionCardDescription {
        padding: 0;
    }

    .sectionCardDescList {
        padding: 0 15px;
    }

    .showDetail a {
        font-size: 15px;
    }

    .contentCardInfo .divider {
        width: calc(100% + 30px);
        margin-left: -15px;
    }
}

@media screen and (max-width: 450px) {
    .bannerSection h2 {
        font-size: 53px;
    }

    .sectionCardImage {
        width: 100%;
        margin-right: 0;
    }

    .sectionCardImageCon {
        width: 130px;
    }

    .sectionCardActionCon {
        width: calc(100% - 130px);
    }

    .buttonTypeOne {
        width: 100px;
    }

    .applyButton {
        margin-top: 60px;   
        width: 100%;
        height: 45px;
    }
}
