<form>
  <label>
    <span>Name</span>
    <input type="text" />
  </label>
  <br />
  <label>
    <span>Age</span>
    <input type="text" />
  </label>
  <br />
  <label>
    <span>Saving</span>
    <input type="text" name="saving" (blur)="transformAmount()" [(ngModel)]="saving" />
  </label>
  <br />
  <button type="button">Validate</button>
</form>
